
</div>
<br>
<blockquote class="blockquote-reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>
 <script type="text/javascripts" src="/jquery.min.js"></script>
<script type="text/javascripts" src="/js/bootstrap.min.js"></script>
<script src="/toastr.js"></script>
</body>
</html>