body{
    font-family:Raleway,'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
h2{
    font-family: Quicksand,'Gotham SSm A','Gotham SSm B',sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: #000;
    margin: 0 0 15px;
}
h3{
    font-size: 2.5em;
}
#authorBooks, #book {
    margin-bottom:1.5em;
}

#book {
    margin-bottom:2.5em;
}

#form{
    display: inline;
}

#authorBooks h5{
    color: #2c3e50;
    font-size: 1.5em;
}

#authorBooks p{
    color: gray;
}

img{
    height: 290px;
    width: 250px;
}

.blue{
    background-color: lightblue;
}
div h4{
    font-weight: bold;
    text-align: center;
    color: red;
}
.navbar-default{
    background-color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
 color: white;   
}

.navbar-default .navbar-brand {
    color:white;
}

.navbar-default .navbar-brand:hover {
    color:white;
}

.toast-top-right{
    padding-top: 40px;
}